<a href="https://colab.research.google.com/github/23sabriomar/deep_learning/blob/main/learnPandas1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [3]:
import pandas as pd
data = pd.DataFrame({'Yes': [50, 23], 'No': [131, 26]})
data.head()

   Yes   No
0   50  131
1   23   26

In this example, the "0, No" entry has the value of 131. The "0, Yes" entry has a value of 50, and so on.

DataFrame entries are not limited to integers. For instance, here's a DataFrame whose values are strings:

In [4]:
data1 = pd.DataFrame({'Bob':['I liked it.','It was awfull.'], 'Sue':['Pretty good.','Bland.']})
data1.head()

              Bob           Sue
0     I liked it.  Pretty good.
1  It was awfull.        Bland.

In [5]:
data2 = pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])
data2.head()

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

In [6]:
data3 = pd.Series([1, 2, 3, 4, 5])
data3.head()

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [10]:
data4 = pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')
data4.head()

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

In [34]:
data2.iloc[1]

Bob    It was awful.
Sue           Bland.
Name: Product B, dtype: object

In [40]:
data2.iloc[1,1]

'Bland.'